---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Content from "@/components/Content.astro";
import Post from "@/components/Post.astro";
import SeoPage from "@/components/SeoPage.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf(),
);
---

<BaseLayout>
  <SeoPage slot="head" />
  <main>
    <Content />
    <ul class="grid list-none gap-y-8 px-0 pb-16 pt-24">
      {posts.map((post) => <Post post={post} />)}
    </ul>
  </main>
</BaseLayout>
