---
import "@/styles/global.css";
import { Icon } from "astro-icon/components";

import BaseHead from "@/components/BaseHead.astro";
import Tooling from "@/components/Tooling";
---

<html lang="en">
  <BaseHead>
    <slot name="head" />
  </BaseHead>
  <body class="flex flex-col sm:flex-row">
    <!-- <div
      class="background-dynamic min-h-screen max-w-screen-sm p-3 font-sans sm:p-6"
    >
      <main>
        <slot />
      </main>
      <Footer />
    </div> -->
    <Tooling client:load />
  </body>
</html>
